pip3 install flask
pip3 install flask-login
pip3 install flask-sqlalchemy
pip3 install flask-bcrypt
pip3 install flask-wtf
pip3 install flask-authorize
pip3 install flask-session
pip3 install password-strength
pip3 install password-policy
pip3 install oauthlib
pip3 install pyopenssl
pip3 install flask-security
pip3 install itsdangerous
pip3 install email-validator
pip3 install requests
