{% extends "base.html"%}
<title>{% block title %}MonoSec - Home{% endblock %}</title>
{% block content %}
    <h1 class="cover-heading">Welcome to MonoSec Support Portal.</h1>
    <br></br>
    <p class="lead"> This is a support portal to help our customer to create requests, tickets and escalations.</p>
    <p class="lead"> Please "Login", to create / view your requests.</p>
    <p class="lead"> If not registered, please use the "Register" link above to get started.</p>

    
{% endblock content %}
