{% extends "base.html"%}
<title>{% block title %}MonoSec - Customer Portal{% endblock %}</title>

{% block content %}
<h1>Update User - </h1>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} 
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.useractive.label(class="form-control-label") }}

                {% if form.useractive.errors %}
                    {{ form.useractive(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.useractive.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.useractive(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.orguser.label(class="form-control-label") }}

                {% if form.orguser.errors %}
                    {{ form.orguser(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.orguser.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.orguser(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}